body {
	font-size:23px;
}

.page-header {
	display:inline;
}

ul li {
    cursor: move;
	list-style:none;
}
	
p {
	 display:inline-block;
}
	
.title {
	font-family: 'Amatic SC', cursive;
	display:inline;
	font-size:3em;
}

.jumbotron {
	position:fixed;
	width:100%;
	z-index:2;
	top:0px;
}

.monster {
	height:220px;
	width:281px;
}

.toDoItems {
	position:relative;
	top:440px;	
}

.ready { font-size: 1.5em; }
.ui-progressbar-value { 
background: lightgreen; 
display: block;
width:50%;
}

.progressbar-container {
  position: relative;
  width: 200px; 
}

.progressbar-bar { 
height: 25px;
margin: 10px 0;
border-radius: 7px;
}

.progressbar-label {
  position: absolute;
  top: 2px;
  left: 45%;
  z-index: 2;
  color:white;
}

.ui-draggable-dragging {
	z-index:999;
}

.ui-droppable-hover {
	content:url("images/Neko-Open.gif");
}